%os-light {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

%os-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

%os-regular {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

%os-light-italic {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

$color-blue: #446a82;
$color-orange: #fdb913;
