@import "vars";
@import "libs";
@import "global";

//styles for custom button
.base-btn {
    display: inline-block;
    text-decoration: none;
    @extend %os-bold;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    background-color: $color-orange;
    padding: 15px 30px;
    box-shadow: 0 5px 20px rgba(90, 66, 9, 50%);
    border: 0;
    outline: 0;
    border-radius: 100px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: lighten($color-orange, 10%);
        color: #ffffff;
        text-decoration: none;
    }
    &:active {
        background-color: darken($color-orange, 10%);
    }
    &:focus {
        outline: 1px solid $color-orange;
    }
}
//styles for custom checkbox
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 52px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 32px;
    user-select: none;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container-checkbox .checkmark {
    border-radius: 10px;
    position: absolute;
    top: -5px;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: #fff;
}

.container-checkbox:hover input ~ .checkmark {
    background-color: #ffffff;
}

.container-checkbox input:checked ~ .checkmark {
    background-color: #ffffff;
}

.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    background-image: url(../img/check.svg);
    left: 8px;
    top: 9px;
    width: 17px;
    height: 13px;
}

//styles for parallax
.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/intro-bg.jpg");
}

.header {
    &__info {
        padding-top: 130px;
    }

    &__logo {
        margin-bottom: 42px;
        width: 80px;
    }

    &__title {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 20px;
        font-weight: 300;
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__picture {
        padding-top: 118px;
    }
}

.features {
    background-color: #f8f8f8;
    color: #2d2d2d;
    padding: 65px 0;

    &__title {
        margin-bottom: 30px;
        font-size: 35px;
        line-height: 45px;
        font-weight: 300;
    }

    &__text {
        margin: 17.5px 0;
        line-height: 25px;
    }

    &__picture {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/img-side1.jpg");
        border-radius: 5px;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 25%);
    }
}

.video {
    background-color: #ffffff;
    padding: 65px 0;

    &__title {
        text-align: center;
        font-size: 35px;
        line-height: 35px;
        color: #2d2d2d;
        margin-bottom: 45px;
        @extend %os-light;
    }

    //styles for responsive frame

    &__responsive {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
    }

    &__responsive iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.icons {
    background-color: #ffffff;
    color: #2d2d2d;
    padding-bottom: 100px;

    &__items {
        display: flex;
    }

    &__items > div:first-of-type h3 {
        padding-top: 18px;
    }
    &__items > div:nth-of-type(2) h3 {
        padding-top: 20px;
    }
    &__items > div:last-of-type h3 {
        padding-top: 22px;
    }

    &__title {
        font-size: 30px;
        line-height: 30px;
        font-weight: 300;
    }

    &__text {
        margin-top: 19px;
    }
}

.banner {
    &__picture {
        background-image: url(../img/img-side2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__info {
        background-color: $color-orange;
        padding: 50px 0px;
        padding-left: 95px;
    }

    &__title {
        font-size: 35px;
        line-height: 45px;
        font-weight: 300;
    }

    &__text {
        margin: 25px 0;
    }
}

.testimonial {
    color: #2d2d2d;
    padding: 65px 0;

    &__title {
        font-size: 35px;
        line-height: 55px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 60px;
    }

    &__text {
        @extend %os-light-italic;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 25px;
    }

    &__name {
        @extend %os-bold;
        font-size: 20px;
        line-height: 25px;
    }

    &__info {
        font-size: 14px;
        line-height: 25px;
        margin: 5px 0px;
    }
}

//styles for slider
.slider {
    min-width: 0;
    position: relative;
    padding: 0 50px;
}
.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 22px;
    height: 50px;
    border: 0;
    margin-top: -25px;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url(../img/arrow-prev.png) 0 0 / 100% no-repeat;
    transition: 0.3s;
    &:hover {
        opacity: 0.6;
    }
    &:focus {
        outline: 0;
    }
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url(../img/arrow-next.png) 0 0 / 100% no-repeat;
    transition: 0.3s;
    &:hover {
        opacity: 0.6;
    }
    &:focus {
        outline: 0;
    }
}

.clients {
    padding-bottom: 65px;
    &__icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon hr {
        display: none;
    }
}

.footer {
    background-color: $color-blue;
    padding: 50px 0;

    &__title {
        font-size: 35px;
        line-height: 45px;
        text-align: center;
        font-weight: 300;
    }

    &__form {
        margin: 50px 0;

        label {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
        }
        label:last-child {
            margin-bottom: 0;
            text-transform: none;
        }

        input[name="name"],
        input[name="email"],
        textarea {
            margin-bottom: 40px;
            width: 100%;
            border-radius: 5px;
            border: 0;
            outline: 0;
            color: $color-blue;
            font-size: 20px;
            line-height: 20px;
            font-weight: 300;
        }

        input[name="name"]::placeholder,
        input[name="email"]::placeholder,
        textarea::placeholder {
            color: $color-blue;
        }

        input[name="name"],
        input[name="email"] {
            padding: 15px;
        }

        textarea {
            padding: 15px 18px 17px 16px;
            height: 114px;
            line-height: 25px;
            resize: none;
        }

        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        #checkbox + label {
            margin-left: 20px;
            text-transform: none;
            margin-bottom: 0px;
        }

        &-btn {
            padding: 15px 50px;
        }
    }

    &__copyright {
        display: flex;
        align-items: center;
    }
    img {
        width: 57px;
    }
    img + p {
        padding-left: 25px;
        line-height: 25px;
        font-size: 16px;
    }
}

@import "media";
